/* Tamaño del scroll */
.bscroll::-webkit-scrollbar {
    width: 8px;
}

.bscroll::-webkit-scrollbar-thumb {
    background   : rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.bscroll::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.2);
}

.bscroll::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
}


.bscroll::-webkit-scrollbar-track {
    background   : rgba(31, 41, 55, 0.7);
    border-radius: 4px;
}

.bscroll::-webkit-scrollbar-track:hover,
.bscroll::-webkit-scrollbar-track:active {
    background: rgba(31, 41, 55, 0.7);
}
